/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout */
.container {
    display: grid;
    grid-template-areas:
        "topbar topbar"
        "sidebar content"
        "footer footer";
    grid-template-rows: 60px 1fr 40px;
    grid-template-columns: 200px 1fr;
    height: 100vh;
}

.topbar {
    grid-area: topbar;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    width:100vw;

}

.sidebar {
    grid-area: sidebar;
    background-color: black;
    color: white;
    padding: 20px;
}

.sidebar nav ul {
        list-style-type: none;
}

.sidebar nav ul li {
     margin: 20px 0;
}

.sidebar nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.content {
    grid-area: content;
    padding: 20px;
    background-color: #f0f0f0;
}

footer {
    grid-area: footer;
    background-color: dimgray;
    color: white;
    display: flex;
    flex-direction:column;
    justify-content:center;
    height:80px;
}

footer p{
    margin:5px;
    }

.without-content {
    display:flex;
    justify-content:center;
    align-items:center;
    flex: 1;
    padding: 80px 20px 60px 20px; /* Space for topbar and footer */
    background-color: #f0f0f0;
    overflow-y: auto;
    width: 100vw;
    height: 100%;
    overflow: hidden
}

.login{
    position:absolute;
    display:flex;
    justify-content:end;
    left:88vw;
}

.login a{
    font-weight:bold;
    color:white;
    text-decoration:none;
}

#snackbar {
    visibility: hidden; /* Hidden by default */
    width: 350px;
    min-width: 250px; /* Set a default minimum width */
    margin-left: 40px; /* Divide the width by 2 */
    background-color: #333; /* Dark grey background */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded corners */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar horizontally */
    bottom: 30px; /* 30px from the bottom */
}

    /* Show the snackbar when it is focused */
    #snackbar.show {
        visibility: visible; /* Visible by default */
    }
 