body {
    margin:0;
}

.Logo{
    background-color:dodgerblue;
    height:80px;
    display:flex;
    flex-direction:column;
    text-align:center;
    justify-content:center;
    
}

.Logo > label{
    color:white;
    font-size:30px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.SiteBar {
    background-color: black;
    width: 20%;
    height: 113.5vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.SiteBar > li{
    margin:10px;
}

.body-content {
    
    width: 80%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}





.SiteBar > ul > li {
    font-size: 20px;
    margin: 10px
}

.SiteBar > ul > li > a {
        text-decoration: none;
        color:white
}


.content {
    margin: 10px;
    height: 80%;
}

footer {
    position: absolute;
    height: 10vh;
    width: 100vw;
    padding: 10px;
    background-color: dimgrey;
    color: white;
    top:100vh;
}
