body {
    margin:0;
}

.Logo{
    background-color:dodgerblue;
    height:80px;
    display:flex;
    flex-direction:column;
    text-align:center;
    justify-content:center;
    
}

.Logo > label{
    color:white;
    font-size:30px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.SiteBar {
    background-color: black;
    width: 20%;
    height: 113.5vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.SiteBar > li{
    margin:10px;
}

.body-content {
    
    width: 80%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}





.SiteBar > ul > li {
    font-size: 20px;
    margin: 10px
}

.SiteBar > ul > li > a {
        text-decoration: none;
        color:white
}


.content {
    margin: 10px;
    height: 80%;
}

footer {
    position: absolute;
    height: 10vh;
    width: 100vw;
    padding: 10px;
    background-color: dimgrey;
    color: white;
    top:100vh;
}


#snackbar {
    visibility: hidden; /* Hidden by default */
    width:350px;
    min-width: 250px; /* Set a default minimum width */
    margin-left: 40px; /* Divide the width by 2 */
    background-color: #333; /* Dark grey background */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded corners */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar horizontally */
    bottom: 30px; /* 30px from the bottom */
}

    /* Show the snackbar when it is focused */
    #snackbar.show {
        visibility: visible; /* Visible by default */
    }
 