#Save-btn {
    background-color: red;
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 80px;
    font-size:15px;
    margin:10px;
    border-color:transparent;
}

#Form-Body{
    flex-direction:row;
    display:flex;
    margin:10px;

}

#Form-prop{
    margin:10px;
    display:flex;
    flex-direction:column;
}

#Form-prop input {
    padding: 10px;
    border-radius: 5px;
    width: 200px;
}

#Form-prop textarea{
    width:300px;
    height:150px;
}

