body {
    
}

.Main-Content {
 position:absolute;

}


.Chart-Content {
    display: flex
}

.CountTag-Content{
    display:flex
}

.CountTag{
    margin:10px;
    background-color:Highlight;
    padding:10px;
    width:200px;
    color:white;
    border-radius:5px;
}

.chart-container {
    background-color: whitesmoke;
    height: 400px;
    width:550px;
       
    
}

.chart-container canvas{
    
  
}


