body {
}

.Main-Content {
    margin:10px;
}


.Chart-Content {
    display: flex
  
}

.CountTag-Content{
    display:flex
}

.CountTag{
    margin:10px;
    background-color:Highlight;
    padding:10px;
    width:200px;
    color:white;
    border-radius:5px;
}

.chart-container {
    background-color: whitesmoke;
    width: 400px;
    height: 400px;
}

.chart-container canvas{
    
  
}


