body {
}

.Content{
    width:100%;
}

.jumbotron {
    background-repeat: no-repeat;
    width: 100%;
    background-color: antiquewhite;
}

.BookTag {
    background-color: wheat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    align-items:center;
}

    .BookTag > h1 {
        font-size: 20px;
        width: 200px;
        height: 80px;
        overflow: visible;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 3; /* Adjust to limit the number of lines */
        max-height: calc(4 * 1.2em); /* Adjust line height as needed */
    }

    .BookTag > img {
        margin: 5px;
        background-color: green;
        align-content: center;
        height: 180px;
        width: 180px;
        max-width: 200px;
        max-height: 200px;
    }
.BookTag > p {

        overflow: visible;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 3; /* Adjust to limit the number of lines */
        max-height: calc(4 * 1.2em); /* Adjust line height as needed */
    }
.BookTag > a {
    width:200px;
}

.Price {
    display: flex;
    justify-content: space-evenly;
}


.Login {
    justify-content: center;
    flex-direction: column;
    display: flex;
    height: 48px;
}

.Login-btn {
    display:flex;
    justify-content:end;
    margin:10px;
}

.Login-btn a {
    color:whitesmoke;
}

.Login-btn a:hover {
  text-decoration:none;
    }



        /* For single-line text */
.text-limit {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(10 * 1em); /* Adjust as needed */
}

/* For multi-line text */
.text-limit-multiline {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2; /* Adjust to limit the number of lines */
    max-height: calc(2 * 1.2em); /* Adjust line height as needed */
}









