@model EBookOnlineBookOrderingSystem.Models.PlaceAddToCardItems

@{
    ViewBag.Title = "ViewMoreAllAddtoCart";
}

<h2>ViewMoreAllAddtoCart</h2>

<p>
    @Html.ActionLink("Palce order", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <input 
             data-val="true"
             @*data-val-required="The isActive field is required."*@
             id="isActive"
             name="isActive"
             type="checkbox"
             value="true" />
        </th>
        <th>
            ID
        </th>

        <th>
            Book Name
        </th>
        <th>
            Quantity
        </th>

        <th>
            Price
        </th>

        <th></th>
    </tr>

@foreach (var item in Model.AddToCardItems) {
<tr>

    <td>
        <input data-val="true"
               @*data-val-required="The isActive field is required."*@
               id="isActive"
               name="isActive"
               type="checkbox"
               value="true" />
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.AddToCard.id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AddToCard.name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AddToCard.quantity)
    </td>
    <td>
        @{ var totalprice = item.AddToCard.price * item.AddToCard.quantity; }
        @totalprice
    </td>
</tr>
}

</table>
