@model  AdminDashboard.Models.HomeModel

@{
    var XLabels = Newtonsoft.Json.JsonConvert.SerializeObject(Model.stackedViewModel.LstData.Select(x => x.DimensionOne).ToList());
    var YValues = Newtonsoft.Json.JsonConvert.SerializeObject(Model.stackedViewModel.LstData.Select(x => x.Quantity).ToList());
    ViewBag.Title = "Home Page";

}

@Styles.Render("~/Content/Home/css")

<div class="Main-Content">
    <div class="CountTag-Content">
        <div class="CountTag">
            <h1>Total Book</h1>
            <h2>@Model.TotalBook</h2>
        </div>
        <div class="CountTag">
            <h1>Total Customer</h1>
            <h2>@Model.TotalCustomer</h2>
        </div>
        <div class="CountTag">
            <h1>Total Sales</h1>
            <h2>@Model.TotalSales</h2>
        </div>
    </div>
    <div class="Chart-Content">
        <div class="chart-container">
            <canvas id="chart" ></canvas>
        </div>
    </div>
</div>

<script src="/Scripts/Chart/Chart.bundle.min.js"></script>
<script src="/Scripts/Chart/jquery-3.3.1.min.js"></script>
<script src="/Scripts/Chart/ChartGenerated.js"></script>
<script type="text/javascript">

    ChartGenerated("chart",@Html.Raw(XLabels),@Html.Raw(YValues),"pie")
</script>